## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
branches:
  only:
    - master
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to override the default test script
script:
 - julia -e 'Pkg.clone(pwd()); Pkg.checkout("RigidBodyDynamics"); Pkg.checkout("RigidBodySim"); Pkg.clone("https://github.com/tkoolen/AtlasRobot.jl.git"); Pkg.build("AtlasRobot"); Pkg.clone("https://github.com/rdeits/BotCoreLCMTypes.jl.git"); Pkg.build("BotCoreLCMTypes"); Pkg.build("HumanoidLCMSim"); Pkg.test("HumanoidLCMSim"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("HumanoidLCMSim")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("HumanoidLCMSim")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
